[2021-09-27 11:44] PeixinQiao commented on #1093
@jeanPerier No, there is no functional issue. I care about this since it is related to the lowering work of OpenMP `threadprivate` directive. The variable in `threadprivate` directive must have the SAVE attribute, either implicitly or explicitly. I need to add the OpenMP `threadprivate` attribute in FIR Operation Def. If `fir.global` is generated for the simple variable in MAIN program, I only nee

[2021-09-27 15:28] sscalpone opened #1095 "Undefined reference when compiling ll files with clang -O2"
This version of flang uses clang to compiler ll files and for linking.  The -O2 flag is passed to clang; it doesn't affect flang.
[code]
[code]
[code]
[code]

[2021-09-27 18:31] Leporacanthicus commented on #1095
I started looking into this from a different source, using `opt` to optimise the code, which leads to the same issues [since `opt` probably uses largely the same set of set of optimization passes as `clang`). I did find some way to specify only "some" of the passes, but that's not a good long term solution [and didn't give the results I expected].

[2021-09-27 18:58] sscalpone commented on #1095
[code]

https://llvm.org/docs/LangRef.html#linkage

Probably needs to be "external" instead of "linkonce".

[2021-09-28 12:28] Leporacanthicus commented on #1095
My quick-fix, insert `sed 's/linkonce global/dso_local global/g`  between tco and opt - I expect that would work when using clang as the compiler too. I couldn't make "external" work - maybe I'm doing something wrong - I just  used clang++ as "reference that works", and it uses `dso_local` to indicate that this is "once per executable file" variable [or something like that - I'm really just hackin

[2021-09-28 13:23] sscalpone commented on #1095
What did you see with "external"?

[2021-09-28 13:29] Leporacanthicus commented on #1095
opt didn't like reading the modified IR.
[code]

Arrow is pointing at `undef` - I think external really means "it's not in this module, it's somewhere else, so you have to initialize it somewhere else". But I'm the first to admit I don't REALLY know what I'm doing here! :)

[2021-09-28 14:16] jeanPerier commented on #1095
@Leporacanthicus

`@_QMglobal_moduleEx = external global i32 undef` is indeed wrong syntax, the correct equivalent is `@_QMglobal_moduleEx =  global i32 undef` the external is implicit when there is a definition.

I used `linkonce` because I could not get mlir to generate this. Its LLVM IR generation was transforming `@_QMglobal_moduleEx =  global i32 undef`  into `@_QMglobal_moduleEy =  external

[2021-09-28 14:25] jeanPerier commented on #1095
Good news, the MLIR behaviour changed in https://github.com/llvm/llvm-project/commit/d4df3825bd32277074b3859f5dea9593139147fb#diff-0e9fd6478c7a83100254a3b40e2d97649a8d41c84506e1da7f8d281fc633b1f5. So I think the fix is just not create external with undef variable, this should now travel through MLIR and have the correct behavior.

@Leporacanthicus do you want to give a try at this fix ?

[2021-09-28 21:47] schweitzpgi commented on #988
Looks like it is trying to allocate a buffer 1,000,000 times too large. Lowering bug.

[2021-09-28 21:54] svedan commented on #988
Assigning this to Val.

[2021-09-29 07:40] Leporacanthicus commented on #1095
So with Jean Perier's recommended patch from llvm/main, and using an empty string instead of the `linkonce` attribute, my tests are working (as discussed on Flang Slack). I will try to produce a patch that fixes the comments as well as failing tests - unless someone else already has a fix in progress.

[2021-09-29 08:08] jeanPerier commented on #1095
No I am working on other patches so I am grateful if you do the patch for it (I imagine it indeed involves doing some sed s/linkonce//g in the tests).  Thanks !

[2021-09-30 01:54] PeixinQiao commented on #1093
Checked with classic-flang and it generates `local alloc` for `integer :: a4` and `struct.BSS` for `integer, save :: a5` in MAIN program, which is similar to `bbc`. Let me add the OpenMP threadprivate attribute in both `GlobalOp` and `AllocOp`. Close this issue.

[2021-09-30 06:41] jeanPerier commented on #1093
Thanks for having checked that the classic Flang behavior was the same here !

[2021-10-05 17:22] Leporacanthicus commented on #1095
This is now merged, @sscalpone  please re-open if the current fix is not working.

[2021-10-05 17:22] #1095 closed

[2021-10-05 17:24] sscalpone commented on #1095
Thanks!  I'll let you know.

[2021-10-05 17:41] Leporacanthicus commented on #1001
I'm closing this, it seems to be working for me (and I reported it!)

[2021-10-05 17:42] #1001 closed

[2021-10-06 06:48] sscalpone opened #1112 "SYSTEM_CLOCK not working for INTEGER*4"
Is system_clock implemented for all scalar types of type integer?  At least NAG f93.f90 expected integer*4.
[code]
[code]

[2021-10-06 06:55] sscalpone commented on #1112
nvfortran handles all cases; gfortran does not handle integer*1 or integer*2, but does the rest.  Both treat integer*16 like integer*8.

[2021-10-06 07:10] sscalpone commented on #1112
gfortran and intel document different count_rate depending on the integer type.

[2021-10-06 20:49] svedan opened #1115 "Multiple assertions with NAG test runs"
7 Assertion `resultType && "expect intrinsic function"' failed.
      2 Assertion `hasSymbol() && "variable is not nominal"' failed.
      2 Assertion `funcPointer && "dummy procedure or procedure pointer not in symbol map"' failed.
      1 Assertion `!x->base().IsSymbol()' failed.
      1 Assertion `i <= indices.size()' failed.
      1 Assertion `idx < size()' failed.
      1 Assertion `(finalize

[2021-10-06 21:22] psteinfeld opened #1116 "Detect semantic error for ill-formed FORALL statements"
Jean noted in #1101 that it's possible to have ill-formed FORALL statements, but we don't currently detect them in semantic checking.  Here's an example:

FORALL (i=1:10) scalar = something(i)

[2021-10-07 23:19] psteinfeld commented on #1071
The compiler build from the latest source in fir-dev now produces an error for this.  I suspect that the changes in https://reviews.llvm.org/D109380 made this happen.

[2021-10-08 15:37] Leporacanthicus opened #1120 "OpenMP parallel do with cycle compiles to "nothing"."
The following code, you'd expect to print 2,3,4,5 (or some combination of those numbers in some order, at least)
[code]
But for reasons that are not clear at this point, the code inside the do-loop is completely lost.

[code]

Remove the `if (i == 1) cycle` and it produces correct code:
[code]

I have spent some time in the debugger on this, but I'm not sure exactly what is going wrong - I can see

[2021-10-08 16:36] mleair opened #1121 "Unnecessary Argument Copies in intrinsic calls"
We are making unnecessary copies of arguments to intrinsic calls when the arguments are arrays. This was first exposed with calls to dot product, but there are probably others.

program s
integer, parameter :: LONGreal = 8
  real (kind = LONGreal), dimension(-1:11) :: x
  real (kind = LONGreal), dimension(0:12) :: g
  real (kind = LONGreal) ::  gs
  gs = dot_product(g(0:12:1),x(11:(-1):(-1)))
end

[2021-10-08 19:53] psteinfeld commented on #1116
Actually, I just checked, and we currently warn for this.

@jeanPerier , is that sufficient, or do we need an error?

[2021-10-10 21:41] kiranchandramohan commented on #1120
If the presence of a cycle statement causes the lowering to not create a fir.do_loop and instead generate a CFG then I think the present codegen for the OpenMP work-sharing loop will not work. We expect the body to be structured and loop-like.

@schweitzpgi @jeanPerier any reason why we cannot lower to a fir.do_loop with a fir.if for the code following the cycle in this example?

[2021-10-11 19:24] psteinfeld commented on #1115
I'm working on this now, and I want to know if I'm doing the right thing.  I've changed the compiler for the first assertion failure so that it now produces output that looks like this:
[code]
@sscalpone, is this what you want?

[2021-10-11 20:56] sscalpone commented on #1115
The message should reference a line in the users program. The message should say the Fortean feature the can't be complied. So maybe the assertion needs to be higher up in the stack.

________________________________
From: Pete Steinfeld ***@***.***>
Sent: Monday, October 11, 2021 12:25 PM
To: flang-compiler/f18-llvm-project ***@***.***>
Cc: Steve Scalpone ***@***.***>; Mention ***@***.***>
Subjec

[2021-10-13 16:25] #1116 closed

[2021-10-14 00:56] svedan commented on #1115
Do you want me to open a new issue to track the semantic check (or do you want to lump a few of these together)?

[2021-10-14 14:15] #1115 closed, assigned to psteinfeld, svedan

[2021-10-16 08:46] PeixinQiao opened #1136 "Implementation status of OpenMP Threadprivate directive"
https://github.com/flang-compiler/f18-llvm-project/pull/1135 supports non-character scalar, character, array, character array, pointer, allocatable, pointer, derived type, common block, non-SAVEd non-initialized non-character scalar in main program (this is special case).

It supports use association and argument association, but don't support host assocation currently.

[2021-10-16 09:00] PeixinQiao commented on #1136
## Test case for integer:
[code]
## Expected result:
 tid =  1,x =  0,y =  -1
 changed: tid =  1,x =  11,y =  10
 tid =  0,x =  -1,y =  10
 changed: tid =  0,x =  9,y =  20
 middle: tid =  0,x =  9,y =  20
 second loop: tid =  0,x =  9,y =  20
 second loop changed: tid =  0,x =  19,y =  30
 second loop: tid =  1,x =  11,y =  30
 second loop changed: tid =  1,x =  22,y =  41

[2021-10-16 09:03] PeixinQiao commented on #1136
## Test case for logical
[code]
 tid =  0,x =  F ,y =  F
 tid =  1,x =  F ,y =  F
 middle: tid =  0,x =  F ,y =  F
 middle changed: tid =  0,x =  T ,y =  T
 second loop: tid =  0,x =  T ,y =  T
 second loop: tid =  1,x =  F ,y =  T
 final: tid =  0,x =  T ,y =  T

[2021-10-18 10:34] MehdiChinoune opened #1137 "Rebase fir-dev branch"
Please consider rebasing fir-dev branch against main branch or at least the latest release (release/13.x)

[2021-10-19 21:48] schweitzpgi commented on #1137
We're working on it. Stay tuned.

[2021-10-19 21:48] #1137 closed

[2021-10-19 21:51] schweitzpgi opened #1140 "ISHFT error message"
[code]

However, section 16.9.103p5 explicit talks about what a negative shift value means. This error message seems to be incorrect.

[2021-10-20 16:31] Leporacanthicus commented on #1120
Sadly, the obvious solution to the problem does not help:
[code]

[2021-10-20 22:48] kiranchandramohan commented on #1120
One of the things we should investigate is where blocks are created for unstructured code. Since unstructured code is not expected inside FIR operations, it is possible that blocks are created always in the region of the Function Operation. If there is unstructured code in OpenMP/OpenACC constructs then the unstructured blocks have to be created inside the OpenMP/OpenACC operation.

One place I fo

[2021-10-20 23:19] klausler opened #1143 "Descriptors for NAMELIST group items with derived types are missing their derived type info table pointers"
Either the descriptors pointed to by the NAMELIST group are lacking addenda or their addenda have null derived type information pointers.

[2021-10-20 23:47] vdonaldson commented on #1120
Yes, that could be the direction to take.  Function `createEmptyBlocks` is responsible for generating **all** "global" blocks in advance.  That allows the rest of the code to assume that forward as well as backward branch targets are valid.  A block is a global block if it could be the target of an explicit program branch or a fall through from another block.  A block is a "local" block if it can

[2021-10-21 08:17] PeixinQiao opened #1144 "Error in printing complex 16"
[code]
[code]

[2021-10-21 12:30] PeixinQiao opened #1146 "84 failed test cases when running ninja check-flang on fir-dev"
Will these test cases be fixed later?
[code]

[2021-10-21 12:51] Leporacanthicus commented on #1120
No, I don't think there's a `reparentBlock` function. There is a funciton `splitBlock` (not sure about the exact name), which we could use as a building block for a `reparentBlock`.

This would either need to go into the logic that adds the OpenMP construct itself, or be part of the `maybeStartBlock`.

If the compiler doesn't already forbid branches into (or out of?) OpenMP regions, it certainly s

[2021-10-21 22:08] vdonaldson commented on #1120
An initial test case using duplication compiles and executes correctly.  I've got some other issues to address, but this direction looks promising.

[2021-10-25 07:42] mikaoP opened #1157 "Build error in VectorSubscripts"
When building with `FLANG_BUILD_NEW_DRIVER=ON` at `e97454b82f1d` the compilation fails in `tools/flang/lib/Lower/CMakeFiles/obj.FortranLower.dir/VectorSubscripts.cpp.o` with the following error.
[code]
I have no experience with this part of code, so I don't know how it will be fixed.

[2021-10-27 08:22] jeanPerier opened #1164 "Equivalence storage in main programs not placed in bss (causing huge stack allocation/segfaults)"
[code]
Is lowered to:
[code]

It looks like equivalence storages in main programs are not promoted to bss as they probably should.

FYI, the same without the equivalence lowers to:
[code]

[2021-10-27 20:17] svedan opened #1167 "Error with real-valued regular DO loop control variable"
Failure with this test:

nag_f95_syntax/909t918.f90
error: Must have INTEGER type, but is REAL(4)

Per PKlausler: Error is legitimate due to the use of a real-valued I/O implied DO loop control variable.  These have been invalid since at least F’90.
But since other compilers support this case, we need to add this as an extension.

[2021-10-27 21:31] kiranchandramohan opened #1168 "Fix output functions used for printing half-precision, quad-precision, 80 bit float/complex and 128 bit integers"
For the first-cut implementation of printing various data types, we relied on upcasting or truncating various non-standard data types. At the moment we have the following (based on my understanding of `getOutputFunc` in `flang/lib/Lower/IO.cpp`)
1. for integer(kind=16), real(kind=16) and complex(kind=16) we truncate and print using the output function for real(kind=8). The generated code does not

[2021-10-28 11:29] jeanPerier opened #1169 "Freed WHERE mask temps are getting reused in later WHERE causing undefined behaviors"
[code]

valgrind of the outputs gives:

[code]

This leads to undefined behavior and wrong results with more complex programs.

[2021-10-28 16:41] kiranchandramohan opened #1171 "[OpenMP] Firstprivate, Private Implementation status and Issues"
Initial implementation for firstprivate is available in https://github.com/flang-compiler/f18-llvm-project/pull/928. The patch handles and tests the following types in a subroutine.
1. scalars: integer, real, complex, logical, character types
2. static arrays

**TODO (implement/test)**
1. allocatable sclars/arrays, character arrays, pointer, common-block, derived-type and polymorphic types
2. host

[2021-10-29 13:58] Leporacanthicus opened #1176 "Code generation is broken for SNAP"
The following commit: f72c9754301e2a2edfd122aeb96861ea2a62f49b has been bisected to show a break in the SNAP application. The code compiles to a binary, but when running it, the result is not matching the expectation (and it takes ~2 minutes instead of 2 seconds to run).

It isn't clear exactly what is actually going wrong (I had a brief look at the code in that patch, and it looks simple enough a

[2021-10-29 19:52] klausler commented on #1033
The new message is in llvm-project/main but not in the most recent rebase of fir-dev.

[2021-10-29 19:54] klausler commented on #1140
Fix confirmed in fir-dev; closing bug.

[2021-10-29 19:54] #1140 closed

[2021-10-29 19:55] klausler commented on #1167
This is an I/O implied DO loop, not a regular DO loop.

[2021-10-29 20:10] klausler commented on #1048
A diagnostic message appears in today's fir-dev, but it's a warning, not an error.  I'll fix that.

[2021-10-29 20:12] klausler commented on #1058
Is it still a violation if n is 1?

[2021-10-29 20:14] klausler commented on #1044
The fix for this has made its way into fir-dev; closing bug.

[2021-10-29 20:14] #1044 closed

[2021-10-29 20:15] klausler commented on #1042
This is fixed now in fir-dev & elsewhere; closing bug.

[2021-10-29 20:15] #1042 closed

[2021-10-29 20:17] klausler commented on #1041
This fix is now in fir-dev; closing bug.

[2021-10-29 20:17] #1041 closed

[2021-10-29 20:18] klausler commented on #1040
This fix is now confirmed in fir-dev; closing bug.

[2021-10-29 20:18] #1040 closed

[2021-10-29 20:21] klausler commented on #998
The fix that causes an error message for `SIZE(Y,2)` is now in fir-dev; closing bug.

[2021-10-29 20:21] #998 closed

[2021-10-29 20:25] klausler commented on #900
We now correctly fold SQRT for all kinds of real; confirmed in fir-dev.  Closing bug.

[2021-10-29 20:25] #900 closed

[2021-10-29 23:33] klausler commented on #1048
A fix to the general problem is out for review elsewhere.

[2021-10-30 08:28] PeixinQiao commented on #1136
## Test case for common block:
[code]
## Expected results:
[code]

[2021-10-30 08:30] PeixinQiao commented on #1136
## Test case for derived type:
[code]
## Expected results:
[code]

[2021-10-30 08:31] PeixinQiao commented on #1136
## Test case for char array:
[code]
## Expected results:
[code]

[2021-10-30 08:32] PeixinQiao commented on #1136
## Test case for allocatable && pointer:
[code]
## Expected results:
[code]

[2021-10-30 08:56] PeixinQiao commented on #1171
I give one suport for common block in `Private` clause. The implementation is the same as that of `Threadprivate` directive.

[2021-10-30 09:26] PeixinQiao commented on #1171
There is one incorrect semantic error for pointer in `Private` clause.
[code]
[code]
I am not familiar with the parsing code for wsloop with private clause. Can you take a look at it?

[2021-10-30 20:33] kiranchandramohan commented on #1171
Thanks @PeixinQiao for the common block support as well as the issue reported in the comment above.

I am attempting a fix in https://reviews.llvm.org/D112876. Please have a look.

[2021-10-31 06:21] PeixinQiao commented on #1171
Thanks @kiranchandramohan . I will take a look at D112876 later.

[2021-11-01 07:08] PeixinQiao opened #1180 "Incorrect running results about pointer scalar in common block"
## Test case
[code]
## Expected results:
[code]
## Running results:
[code]
The emitted FIR instruction for the symbol `y` is `%10 = fir.alloca !fir.ptr<i32> {uniq_name = "_QFsubEy.addr"}`, which is not correct.
[code]
One simple case and generated FIR are as follows:
[code]
[code]

[2021-11-01 08:52] #1144 closed

[2021-11-01 14:55] PeixinQiao commented on #1180
@jeanPerier @schweitzpgi Could you take up this issue or assign this issue to someone who knows this FIR generation?

[2021-11-01 15:23] schweitzpgi commented on #1038
Not able to reproduce. (After the rebase, I am getting compilation failures in Fortran/Semantics with OOT builds.)

[2021-11-01 15:29] jeanPerier commented on #1180
@PeixinQiao I will have a look.

[2021-11-01 15:34] jeanPerier commented on #1038
Are you working on a fix or do you have some error logs so that I can try to reproduce ?

[2021-11-01 16:08] psteinfeld commented on #1038
I just did in-tree and out-of-tree builds from the latest source in fir-dev, and everything builds and tests without error for me.

@schweitzpgi , unless you're still getting errors, I think we can close this.

[2021-11-01 16:52] #1038 closed

[2021-11-01 23:33] klausler commented on #796
A fix to semantic analysis is en route.

[2021-11-02 10:58] banach-space opened #1185 "Unable to transform `fir.end`"
I'm trying to transform the following to the LLVM dialect:

[code]

But `fir-opt` is not too happy:
[code]

Do you have any pointers? There's [FirEndOpConversion](https://github.com/flang-compiler/f18-llvm-project/blob/fir-dev/flang/lib/Optimizer/CodeGen/CodeGen.cpp#L2395-L2405) that should take care of this, right?

Thanks!

[2021-11-02 13:49] mikaoP commented on #1157
Now compiles, thank you for the fast fix!

[2021-11-02 14:50] #1157 closed

[2021-11-02 15:20] psteinfeld opened #1186 "Enable calling procedures declared in an outer scope"
We do not currently handle the case where an internal procedure calls a procedure whose name is declared in an outer scope.  Here's an example program:
[code]

[2021-11-02 21:21] klausler commented on #976
I think that the behavior of this test with the current fir-dev is now correct; please confirm and close if that's the case.

[2021-11-02 21:22] klausler commented on #953
Would you like me to take over fixing this bug?

[2021-11-02 21:26] psteinfeld commented on #953
Yes, please.

[2021-11-02 21:51] psteinfeld commented on #976
All looks good.

Interestingly, GNU and nvfortran both fail this test.  NAG, IBM, and Intel all look good.

[2021-11-02 21:51] #976 closed

[2021-11-03 15:13] Leporacanthicus opened #1192 "Outermost OpenMP do-loop and cycle fails to compile"
As per comment in https://github.com/flang-compiler/f18-llvm-project/pull/1178:

[code]
fails with an assertion:
[code]

[2021-11-03 19:41] vdonaldson commented on #1192
This code compiles and executes correctly with the two changes below (on top of the PR #1178 changes).  The change to `createEmptyRegionBlocks` takes care of the "missing terminator op" problem.  The change in `PFTBuilder.cpp` to function `exitConstructOrDirective` provides a target node for the loop exit branch.

The problem is that at least the `createEmptyRegionBlocks` change is probably only a

[2021-11-04 06:41] PeixinQiao opened #1195 "Create new Ops VS add optional StringAttr to GlobalOp for OpenMP/OpenACC declarative constructs"
With #1184, we can lower OpenMP/OpenACC declarative constructs in module. Based on #1135, two initial implementations are evaluated as follows. Let's take OpenMP Threadprivate directive as one example. The first implementation is to create one new Op in FIR dialect. The second implementation is to add optional StringAttr to GlobalOp. Here are the MLIR generated for two implemenations:
[code]
Imple

[2021-11-04 06:53] PeixinQiao commented on #1195
## Implementation 1: Create new Op fir::TLSVar
[code]

[2021-11-04 07:07] PeixinQiao commented on #1195
## Implementation 2: Add optional StringAttr to GlobalOp
[code]
In the future, other OpenMP/OpenACC constructs can be expanded by add `validNames` in `fir::GlobalOp::verifyValidConstruct`.

[2021-11-04 07:30] PeixinQiao commented on #1195
@kiranchandramohan @schweitzpgi @clementval @jeanPerier Could you please take a quick look at this issue and share your thoughts about which implementation I should use?

[2021-11-04 07:52] clementval commented on #1195
In general I don't like the idea to have OpenMP/OpenACC information in FIR operations. They each have their own dialect so it's well decoupled.
If you really want to add attribute to operation in FIR I think there is a solution to have "opaque" (not sure it's the right term here) attribute to operation. So the FIR dialect itself doesn't specify these attributes but the OpenMP/OpenACC lowering adds

[2021-11-04 10:40] kiranchandramohan commented on #1195
Thanks @PeixinQiao. I am a bit busy today and tomorrow, I will come back with a response after that.

For the solution to be accepted into upstream MLIR, we should have a mechanism that works there. With an operation, it is usually easy to extend such that it works with at least one upstream dialect like std/llvm.

[2021-11-04 11:29] PeixinQiao commented on #1195
## Implementation 3: Create Threadprivate Op in OpenMP dialect with symbol name as StrAttr
[code]

[2021-11-04 11:36] PeixinQiao commented on #1195
Thanks @kiranchandramohan @clementval for the comments. I tried one new initial implementation and add one Threadprivate operation in OpenMP dialect as @clementval suggested. As the above code shows, looking up AddressOfOp or pinned AllocaOp is one time-consuming work. These implementations have pros and cons. Your suggestions and guidance are very helpful.

[2021-11-04 11:48] Leporacanthicus opened #1196 "Crash in function called from OpenMP worksharing loop when using iterator variable."
The following snippet crashes, because `p` is not a reference to the value of `k` in the calling code, just a copy of the value of `k`, so tries to dereference the `p`, it accesses address 1 (or 2, 3, 4 - depending on which thread gets there first!)

[code]

There is some comments here;
https://github.com/flang-compiler/f18-llvm-project/pull/646
that mentions that the induction variable isn't a re

[2021-11-04 15:27] kiranchandramohan commented on #1195
@PeixinQiao is this specifically for modules?

[2021-11-04 15:51] PeixinQiao commented on #1195
@kiranchandramohan No. The three proposed implementation should work for main program, procedure, and module. It's better to give one design for the usage in all scope.

[2021-11-08 16:52] banach-space commented on #1185
That was due to a missing pretty-printer. We've discussed this briefly on Phabricator: https://reviews.llvm.org/D113295. It's not really required and this is not a bug, so closing.

[2021-11-08 16:52] #1185 closed

[2021-11-08 19:18] vdonaldson commented on #1168
The size specific integer output calls that Peter introduced are now called -
[code]

[2021-11-08 19:36] vdonaldson commented on #1112
Jean added lowering code to use the new system_clock call that Peter K implemented.  Sample output for the issue test above is -
[code]

[2021-11-08 19:36] #1112 closed

[2021-11-08 20:40] svedan opened #1205 "nag_f08_f95, 24 test failures"
http://ta.pgi.net/correct?view=20065&columns=3&comp=Nightly#/view/status/nightly/20065/21309/94710159/fail/1174?tab=correct

  | b7 | 1 | Segmentation fault | f18
  | b7a | 1 | Segmentation fault | f18
  | b7b | 1 | Segmentation fault | f18
  | b7c | 1 | Segmentation fault | f18
  | b7d | 1 | Segmentation fault | f18
  | b7e | 1 | Segmentation fault | f18
  | b7f | 1 | Segmentation fault | f18
  |

[2021-11-08 20:44] svedan opened #1206 "nag_f08_i, 25 failures"
http://ta.pgi.net/correct?view=20065&columns=3&comp=Nightly#/view/status/nightly/20065/21309/94712623/fail/1174?tab=correct

  | ia3b | 1 | No such file or directory | f18
  | ib3 | 1 | No such file or directory | f18
  | ib4 | 1 | No such file or directory | f18
  | if8 | 1 | No such file or directory | f18
  | ig1 | 1 | General Verification Error | f18
  | ih4 | 1 | General Verification Error |

[2021-11-08 20:55] svedan opened #1207 "nag_f08_j, 25 failures"
http://ta.pgi.net/correct?view=20065&columns=3&comp=Nightly#/view/status/nightly/20065/21309/94711303/fail/1174?tab=correct

  | ja6 | 1 | General Verification Error | f18
  | jb3 | 1 | General Verification Error | f18
  | jb8a | 1 | General Verification Error | f18
  | jc0 | 1 | No such file or directory | f18
  | jc7 | 1 | General Verification Error | f18
  | jh2 | 1 | Segmentation fault | f18
 

[2021-11-08 20:58] svedan opened #1208 "nag_f08_k, 24 failures"
http://ta.pgi.net/correct?view=20065&columns=3&comp=Nightly#/view/status/nightly/20065/21309/94711303/fail/1174?tab=correct

| kb7 | 1 | No such file or directory | f18
  | kc4a | 1 | General Verification Error | f18
  | kf1 | 1 | Segmentation fault | f18
  | kf1a | 1 | Segmentation fault | f18
  | kf2 | 1 | General Verification Error | f18
  | kf5 | 1 | No such file or directory | f18
  | kh9 | 1

[2021-11-08 21:31] vdonaldson commented on #1120
With a workaround for the independent issue of an invalid error message: `CYCLE to construct outside of PARALLEL DO construct is not allowed`, the original test case now executes correctly.  Additional, related problems are covered in issue #1178, and possibly elsewhere.

[2021-11-08 21:31] #1120 closed

[2021-11-08 22:05] #1207 closed

[2021-11-08 22:07] #1205 closed

[2021-11-08 22:14] #1206 closed

[2021-11-09 14:47] Sezoir opened #1212 "Module information about threadprivate is not carried across files"
## Test case:
Create 2 fortran files, file1.f90 and file2.f90.
In "file1.f90":
[code]
In "file2.f90":
[code]
## Expected Result:
Compiles with no complaints.

## Running Result:
[code]
## Verification
When compiled with gfortran, e.g `gfortran -fsyntax-only -fopenmp file1.f90 file2.f90`, compiles fine. When compiled without openmp also compiles fine.

[2021-11-09 17:55] kiranchandramohan commented on #1212
Currently, information about OpenMP/OpenACC declarative directives in modules is not carried in the module files. e.g. for the reproducer (file1.f90) given above, we get the module file shown below.

Information about `threadprivate` (https://www.openmp.org/spec-html/5.0/openmpsu104.html) is usually carried inside flags in Symbols. I think this information is not carried over across compilation un

[2021-11-09 18:03] klausler commented on #1212
Yes, the extra attributes of OpenMP and OpenACC that apply to module entities need to be present in the module file.  Modules files are emitted by Semantics/mod-file.cpp.

[2021-11-10 07:47] PeixinQiao opened #1218 "OpenMP worksharing-loop lowering Problems"
[code]
The following case works OK. It seems that current wsloop does not support different types of lowerBound, upperBound, step.
[code]

[2021-11-10 07:53] PeixinQiao commented on #1218
The second issue is that clang does not support loop iteration variable more than 64 bits. It will issue one warning.
[code]

[2021-11-10 20:22] schweitzpgi commented on #1169
Works for me.

[2021-11-10 20:22] #1169 closed

[2021-11-10 20:24] schweitzpgi commented on #970
No longer see the symbol not in map. Closing.

[2021-11-10 20:24] #970 closed

[2021-11-10 20:39] schweitzpgi commented on #967
I believe this one is fixed. @oroppas Can you confirm on your end?

[2021-11-10 20:40] schweitzpgi commented on #1048
Works for me.

[2021-11-10 20:40] #1048 closed

[2021-11-10 20:44] schweitzpgi commented on #1058
I'll update the example.

[2021-11-10 20:48] #1058 closed

[2021-11-10 20:52] #1033 closed

[2021-11-10 20:53] schweitzpgi commented on #958
Works for me.

[2021-11-10 20:53] #958 closed

[2021-11-10 21:02] clementval commented on #631
We made a pass on the code before upstreaming. Remaining item should be caught while upstreaming.

[2021-11-10 21:02] #631 closed

[2021-11-10 21:04] clementval commented on #641
We double checked that while upstreaming the operations.

[2021-11-10 21:04] #641 closed

[2021-11-10 21:21] schweitzpgi commented on #881
This is crashing lowering at tip, which is an issue. On the other hand, this does not appear to be valid Fortran. 5 out of 5 Fortran compilers tested emit semantics errors. flang does not.

[2021-11-10 21:27] vdonaldson commented on #1143
Fixed by the following commit -

[code]

[2021-11-10 21:27] #1143 closed

[2021-11-10 21:28] schweitzpgi commented on #867
Works for me.

[2021-11-10 21:28] #867 closed

[2021-11-10 21:43] vdonaldson commented on #924
The test case above now compiles and executes correctly.
Tests ch6egs1.f90 and e12.f90 now compile and execute correctly.
Tests f74.f90 and 615t621.f90 no longer abort at compile time.
They now compile and execute, but output fails verification checks.
Close in favor of addressing additional issues elsewhere.

[2021-11-10 21:43] #924 closed

[2021-11-10 21:54] vdonaldson commented on #988
After a sequence of fixes, these three tests compile and execute to completion.  Similar tests that verify result elements are also ok.  A variation of the problem remains with:
[code]

[2021-11-11 02:34] oroppas commented on #967
I can confirm it’s fixed. Thanks!

[2021-11-11 02:34] #967 closed

[2021-11-12 09:43] kiranchandramohan opened #1229 "Pointer in private clause not handled correctly"
When I look at pointer in common block for both private clause and threadprivate directive, I found out that pointer in private clause is not processed correctly. Do you have time to look at it? Please notice that pointer to a scalar and pointer to an array, with and without SAVE attribute have different FIR processing.

Reported by @PeixinQiao. Please add a reproducer if you have one.

[2021-11-14 12:15] PeixinQiao commented on #1229
[code]
[code]
@kiranchandramohan Here is the test case.

[2021-11-15 03:20] PeixinQiao commented on #1229
@kiranchandramohan Can you take up this issue? I plan to go ahead with ordered clause codegen. Is this OK?

[2021-11-16 11:21] kiranchandramohan commented on #1229
OK. I will take it up @PeixinQiao.

[2021-11-17 07:56] PeixinQiao commented on #1229
@kiranchandramohan Thanks a lot.

[2021-11-25 09:57] kiranchandramohan opened #1268 "Replace recursive algorithm in ArrayValueCopy pass with an iterative version"
Replace recursive algorithm (in collectArrayAccessFrom function) on def-use chain with an iterative one with an explicit stack.

[2021-11-26 10:50] kiranchandramohan opened #1272 "Code cleanup in Type builder models (flang/include/flang/Optimizer/Builder/Runtime/RTBuilder.h)"
Diana says rather than repeating the getModel function for each type, we can consider the following two options for code compactness and maintainability.

Option 1 - SFINAE:

template <typename T>
static constexpr typenane std::enable_if_t<std::is_integral_v<T>, TypeBuilderFunc> getModel() {
  return [](mlir::MLIRContext *context) -> mlir::Type {
    return mlir::IntegerType::get(context, 8 * size

[2021-11-26 11:03] jeanPerier commented on #1272
Regarding RTBuilder.h, it suffers an important flow which is that is assumes host and target architecture are the same, and that is why I would not polish it directly without addressing the flow. One of our consideration was to move to a tablegen runtime description instead that could also remove a lot of lowering boilerplate to generate the runtime calls. But this deserve a good design so we have

[2021-11-26 11:58] kiranchandramohan opened #1273 "Convert the global option (nameLengthHashSize) in FIRBuilder.cpp to a value that can be stored in the Dialect."
Global Options are generally discouraged. Can we build the optimizer with -Werror=global-constructors by the way?

Convert the global option (nameLengthHashSize) in FIRBuilder.cpp to a value that can be stored in the Dialect.

[2021-11-26 12:05] kiranchandramohan opened #1274 "Improve documentation of Do Loop."
Add information about finalValue and iterArgs.

[2021-11-26 12:10] kiranchandramohan opened #1275 "Use control-flow interface in ArrayValueCopy pass"
In general all the special casing for the Loop, branches, and the control flow in general should be handled with the ControlFlowInterface: https://github.com/llvm/llvm-project/blob/main/mlir/include/mlir/Interfaces/ControlFlowInterfaces.td

This would make the code entirely uniform, and any new op that has to do with the control flow would not require to modify the pass.

Comment in https://review

[2021-11-26 17:31] clementval commented on #1273
https://reviews.llvm.org/D114630

[2021-11-29 16:08] #1273 closed

[2021-11-30 12:08] Sezoir opened #1280 "#1126 Causing driver lowering to LLVM IR to fail"
## Summary
Bisection was shown that #1126 was causing a compile failure with the following reproducer.
## Reproducer:
[code]
## Expected Result:
Compiles fine with commit "Fix the runtime library order" (f4abd787cb3d162ec13629c91b6a8d68dafbc469).
## Actual Result:
[code]

[2021-11-30 12:58] banach-space commented on #1280
Hi Josh,

Thanks for reporting this! I was able to re-produce it (btw, the warning about `-O3` is irrelevant here, so can be ignored).

#1126 updates pass pipeline creation in `bbc` and CLOptions.inc, and IIUC, an inconsistency crept in:
- ` pm.addPass(mlir::createCanonicalizerPass());` in [bbc.cpp](https://github.com/flang-compiler/f18-llvm-project/blob/fir-dev/flang/tools/bbc/bbc.cpp#L27), vs
-

[2021-12-01 09:25] banach-space commented on #1280
#1126 was reverted and a new PR was opened that does not break `flang-new`: https://github.com/flang-compiler/f18-llvm-project/pull/1287. I'm closing this for now. We can re-open if this comes back.

[2021-12-01 09:25] #1280 closed

[2021-12-03 08:34] PeixinQiao commented on #1218
Fixed by https://github.com/flang-compiler/f18-llvm-project/pull/1256.

[2021-12-03 08:35] #1218 closed

[2021-12-03 19:03] Leporacanthicus commented on #1192
I've used the posted changes, and they do indeed fix the original problem, but two of the existing tests fail (with an assert due to a block being incorrectly formed).

The test is the second part of flang/test/Lower/OpenMP/omp-unstructured.f90, `subroutine ss3`.

When setting a breakpoint at the bottom half of `createBodyOfOp`, just after the omp terminator or yield is instered, and printing the

[2021-12-07 19:28] pmccormick opened #1316 "Name mangling issue in mixed C and Fortran code base"
Testing the latest `fir-dev ` and the new Flang driver using the sequential version of the [Cloverleaf](https://github.com/UK-MAC/CloverLeaf.git) proxy app that uses a combination of C and Fortran 90 (note the use of submodules -- you want to use the `CloverLeaf_Serial` submodule and subdirectory).

First off, it looks like the new driver is working perfectly, but it appears that there is an issue

[2021-12-07 19:47] pmccormick opened #1317 "FLUSH intrinsic vs. statement link failure"
The [Cloverleaf](https://github.com/UK-MAC/CloverLeaf.git) proxy app uses an pre-Fortran 2003 invocation of `FLUSH` that fails at link time.

[code]

[code]

Removing `CALL` from the snippet of code above will provide a workaround but for backwards compatibility it appears that `CALL FLUSH` needs to be lowered as an intrinsic (or a `FLUSH` statement).

[2021-12-07 20:10] svedan commented on #1316
@clementval can you review this?  I thought this was addressed in fir-dev.

[2021-12-07 20:12] schweitzpgi commented on #1316
Which driver is this using? `flang-new`?

The driver needs to add the external name conversion pass to the pipeline. Without that pass, the internal unique names will be emitted.

[2021-12-07 20:13] clementval commented on #1316
As @schweitzpgi mentioned the external mangling pass is not in the default pipepline.

[2021-12-07 20:15] pmccormick commented on #1316
Yes, this is with the new driver.

[2021-12-07 20:26] banach-space commented on #1316
@schweitzpgi Do you mean [ExternalNameConversionPass](https://github.com/llvm/llvm-project/blob/main/flang/lib/Optimizer/Transforms/ExternalNameConversion.cpp) ? And should this change be specific to any particular driver, e.g. `flang-new`?

I think that making pass-pipeline definition independent of the driver might make code re-use easier. Just my 2p.

[2021-12-07 20:31] clementval commented on #1316
It was intentional to not have it by default in `bbc`/`tco` since those are testing tools. I know that Steve's driver includes it. I guess `flang-new` needs it as well.

[2021-12-07 20:42] banach-space commented on #1316
I think that it is important that `bbc`/`tco` and `flang-new` remain compatible. We should always be able to assume that `bbc file.f90 -o - | tco` is equivalent to `flang-new -emit-llvm file.f90`.

[2021-12-07 20:58] schweitzpgi commented on #1316
Not really. This is a case where "flang" requires a different behavior than the test tools because "flang" must interoperate with other tools. The test tools do not require this interoperability, do not need the added complexity, and should not artificially be made to do so.

[2021-12-07 21:13] svedan commented on #1317
Per Peter: Standard Fortran has a FLUSH statement but not a FLUSH intrinsic.

[2021-12-07 21:14] svedan commented on #1317
Workaround:

SUBROUTINE FLUSH(n)
    FLUSH n
END

[2021-12-07 21:20] pmccormick commented on #1317
Just a note: other Fortran compilers (e.g. gfortran) happily deal with this convention (no workarounds needed).    If we want to support/claim gfortran compatibility we should come up with a solution that doesn't require application level code changes.

[2021-12-07 21:22] svedan commented on #1317
Peter - Comments?

[2021-12-07 21:32] klausler commented on #1317
At this time we can't yet put Fortran code into the runtime, since we can't build it yet with the Fortran compiler you can build from llvm-project.  There's a bunch of things that need to be in the runtime that would be best written in Fortran (like this compatibility extension, and many procedures in the IEEE intrinsic module).  So my strategy, such as it is, has been to wait for Fortran to be a

[2021-12-07 21:41] klausler commented on #1317
However, and I should have made this more clear, I believe that f18 should support this and other extensions; we want to be very easy to port to.  The work-around that I gave to Sam was to get you past this problem, if you like, and proceed to build the rest of cloverleaf.

[2021-12-07 21:44] pmccormick commented on #1317
The easiest workaround it simply remove `CALL` and then it compiles as a statement.

I completely agree with your longer-term approach but it would be good (for various reasons) to get things like Cloverleaf running "as is".  I'm happy to take a shot at the intrinsic path here (given I understand that part of the code base).  I can then look forward to seeing it removed at some point down the road

[2021-12-07 21:54] klausler commented on #1317
I think it would actually be easier to add a C-coded routine with a Fortran-like entry point name to the runtime.  It would be short and quick to write, at least for me.  Adding intrinsics to the compiler involves the intrinsic table (pretty easy) and lowering (less so), and would either have to lower to the sequence of calls used for a FLUSH statement or to a new runtime entry point that would be

[2021-12-07 21:55] pmccormick commented on #1317
Thanks Peter.

[2021-12-07 22:44] klausler commented on #1317
https://reviews.llvm.org/D115289

[2021-12-07 23:23] klausler commented on #1317
This now does the expected thing when compiled with fir-dev and a patched runtime:
[code]

[2021-12-08 16:11] Leporacanthicus commented on #1192
So, I have been working on a couple of other things for a few days, but I think what needs to happen is that the `if ( )` that is commented out in the original parttal fix needs to check that the unstructured code is in the outermost loop, rather than in an inner loop (which is what fails in the existing tests when applying the partial fix.

I'm looking at that right now.

[2021-12-08 16:57] klausler commented on #1317
Integrated into llvm-project/main.

[2021-12-13 10:53] kiranchandramohan opened #1338 "Test failures in Mac OS"
Failed Tests (3):
  Flang :: Driver/code-gen-x86.f90
  Flang :: Driver/flang-linker-flags.f90
  Flang :: Fir/complex.fir

[code]

[code]

[code]

[2021-12-13 12:08] jeanPerier commented on #1180
@PeixinQiao , please verify the fix, on my side the provided tests now prints the expected results.

[2021-12-13 12:39] banach-space commented on #1338
Thanks for submitting this @kiranchandramohan !

The following tests fail because we are missing support for Darwin linker invocation:
* Driver/flang-linker-flags.f90
* Driver/code-gen-x86.f90

Basically, we'd need something like [this](https://github.com/flang-compiler/f18-llvm-project/blob/fir-dev/clang/lib/Driver/ToolChains/Gnu.cpp#L568-L573) replicated in https://github.com/flang-compiler/f18-

[2021-12-13 13:01] PeixinQiao commented on #1180
@jeanPerier  Thanks. It works well now. Close this issue now.

[2021-12-13 13:01] #1180 closed

[2021-12-13 21:02] kiranchandramohan opened #1341 "SNAP"
Enable building and execution of the SNAP application with the flang compiler. Test with and without OpenMP.
https://github.com/lanl/SNAP

[2021-12-13 21:05] kiranchandramohan opened #1342 "Cloverleaf"
Enable building and execution of the Cloverleaf application with the flang compiler. Test with and without OpenMP.
http://uk-mac.github.io/CloverLeaf

[2021-12-14 19:30] jeffhammond opened #1344 "/usr/local/bin/flang: line 130: local: -n: invalid option"
Default bash that ships with MacOS 11.5.1 (Big Sur) does not support `local -n`.

Apparently, I need to install Bash myself with Homebrew (https://github.com/confluentinc/confluent-cli/issues/15).

It may be prudent to do more testing on non-Linux OS like MacOS and BSD to verify the portability of the driver script.

[code]

[2021-12-14 19:31] jeffhammond opened #1345 "/usr/local/bin/flang: line 259: conditional binary operator expected"
The Bash that ships with MacOS 11.5.1 (Big Sur) does not like `if [[ -v $FLANG_FC ]]; then`.

It may be prudent to do more testing on non-Linux OS like MacOS and BSD to verify the portability of the driver script.

[code]

Closely related to #1344

[2021-12-14 19:38] jeffhammond opened #1346 "error: The DEFAULT(NONE) clause requires that 'real64' must be listed in a data-sharing attribute clause"
I built F18 from source a few hours ago.

I am surprised that it cannot see that REAL64 is an intrinsic value from the iso_fortran_env module the way gfortran, ifort and nvfortran do.

[transpose-openmp.F90.txt](https://github.com/flang-compiler/f18-llvm-project/files/7714265/transpose-openmp.F90.txt)

[code]

[2021-12-15 12:08] jeffhammond opened #1348 "`flang` wrapper script deletes object code that should not be deleted"
I have a module that is used by every file in my project.  Every program needs to link the object file associated with that module.

Flang is deleting the module object file.  This breaks all of my builds.

[code]

I can see that Flang is trying to delete my object file below:
[code]

`rm: remove write-protected regular file 'prk_mod.o'?` is outrageous.  Flang should not delete files that were gen

[2021-12-15 12:30] jeffhammond opened #1349 "[OpenACC] reduction(+:norm) leads to Error: !$OMP DECLARE REDUCTION plus not found at (1)"
OpenACC seems to be translated to OpenMP but fails to comprehend the build-in `+` operator in reductions, even though OpenMP does.

[code]

# `acc-red.F90`

[code]

It's fine when OpenMP is used directly:
[code]

[2021-12-15 12:36] jeffhammond opened #1350 "error: The DEFAULT(NONE) clause requires that 'omp_get_wtime' must be listed in a data-sharing attribute clause"
OpenMP runtime symbols are not data and should not be subject to whatever analysis generates this error.  They are also known symbols from an OpenMP parser perspective.

[code]

# `openmp.F90`

[code]

This is related to https://github.com/flang-compiler/f18-llvm-project/issues/1346.

[2021-12-15 12:53] jeffhammond opened #1351 "OpenMP default(none) cannot handle PARAMETER data"
I have this data in my code:
[code]

If I try to use `r` inside an OpenMP parallel region with `default(none)` on it, I get to choose between these two errors:

1. `error: The DEFAULT(NONE) clause requires that 'r' must be listed in a data-sharing attribute clause` (when not specifying its data-sharing attribute)
2. `Error: Object ‘r’ is not a variable at (1)` (when specifying its data-sharing att

[2021-12-15 15:02] banach-space commented on #1348
Hi @jeffhammond ,

[`flang-new` - compiler driver]
[`flang` - bash wrapper script]

Thanks for submitting this and for your very detailed reproducer. I'm sorry that this is not working as expected.

Before diving any deeper - why not use the actual [driver](https://github.com/llvm/llvm-project/blob/main/flang/docs/FlangDriver.md#flang-drivers) instead of the [bash wrapper script](https://github.co

[2021-12-15 15:14] jeffhammond commented on #1348
I tried `flang-new` but I cannot figure out how to generate executables.  Do you know what I am doing wrong?
[code]

[2021-12-15 15:22] banach-space commented on #1348
Where did you get `flang` and `flang-new` from? From the invocation that you've pasted, I'm guessing that this might from a distro binary package. That would be too old. LLVM Flang is under active development and code-gen support has only been added recently. Basically, you need to build from sources. Please make sure that you are building the "fir-dev" branch.

-Andrzej

[2021-12-15 15:30] jeffhammond commented on #1348
I built Flang from Git using https://github.com/jeffhammond/HPCInfo/blob/master/buildscripts/llvm-git.sh yesterday, but with https://github.com/flang-compiler/f18-llvm-project.git instead of upstream.

I was not, however, on the fir-dev branch.  Will use that now.

[2021-12-15 18:56] jeffhammond opened #1353 "/opt/llvm/git/flang/lib/Optimizer/Builder/Character.cpp:81:13: error: ‘optional’ in namespace ‘std’ does not name a template type"
I hacked a fix but the inclusion should occur in a different place.

I am compiling with GCC 11 with C++17 enabled.

Reproduce with https://github.com/jeffhammond/HPCInfo/blob/master/buildscripts/llvm-git.sh if necessary.

# error

[code]

# version

[code]

[2021-12-17 06:53] oroppas opened #1356 "Failed to build by Visual Studio 2022, C++ 19.30.30705. error C2065: '_FortranAioOutputInteger128': undeclared identifier"
It appears VC fails by design

[Getting error C2065 when compiling template using base class member on 16.8 with /std:c++latest](https://developercommunity2.visualstudio.com/t/Getting-error-C2065-when-compiling-templ/1251764?preview=true)
[/permissive- (standard comformance),  look-up members in dependent base](https://docs.microsoft.com/en-us/cpp/build/reference/permissive-standards-conformance?v

[2021-12-18 05:16] PeixinQiao opened #1359 "[OpenMP] Using loop iteration var in shared clause"
## Test case
[code]
If running this code 20 times, the results of `classic-flang`, `gfortran` and `ifort` would be like the following:
[code]
The reason is using the loop iteration var in shared clause. The hidden bug of `ifort` will be exposed if you test the follwing case.

[2021-12-18 05:22] PeixinQiao commented on #1359
If uncommenting the code `!if (i == 1 .and. j == 1) print *, "num_threads = ", omp_get_num_threads()`, the results would be like:
[code]

[2021-12-18 05:27] PeixinQiao commented on #1359
If using wsloop iteration var in shared clause such as repalcing `shared(x, j)` with `shared(x, i)`, the results would be like the following:
[code]

[2021-12-18 05:30] PeixinQiao commented on #1359
## Similar test in c
[code]
Tested using `clang`, `gcc` and `icc`, and they all pass. That is, they print `PASS`, although the expected results should be `stop 1`.

[2021-12-20 16:05] Leporacanthicus commented on #1192
The above comment is wrong - or at least I think so. The first part of the patch works fine with no if-condition, it doesn't cause any issues.

The problem is that if we add an exitTarget to directives, it fails for some cases, and passes for others.

I tried to find a way to determine the different cases - I added a static int variable and skipped certain counts, and with that I can make both tes

[2021-12-22 19:04] Leporacanthicus opened #1364 "elemental + bind(c) produces weird results."
I'm not entirely sure if this is an issue with the compiler "allowing this" or an issue with the compiler generating incorrect code.

Main fortran program called test_elemental.f90:
[code]

with `square` defined in square.c like this:
[code]

compile with `clang -c square.c` and `flang-new test_elemental.f90 square.o -o test_elemental`

Running this will give some large, sometimes negative, number

[2021-12-22 19:12] Leporacanthicus commented on #1364
If I remove the fix for #918, the following code fails to compile. With the fix for #918 that is using passing arguments by value, it works.

Here's an example to show that problem:
[code]

[2022-01-03 19:47] cabreraam commented on #1344
Searched the Slack channel before coming here to see if anyone had the same issue.

Just wanted to append to Jeff's MacOS issue with my own recent experience on a server with CentOS 7.9.

`bash` 4.2.46 does not support the `-n` option for the `local` utility.
I can confirm that `bash` 5.1.8 does support the option, as I also had to install a different bash version to get `flang` to work.

Based on

[2022-01-04 11:15] banach-space commented on #1348
Uploaded a fix: https://reviews.llvm.org/D116590

[2022-01-04 15:27] banach-space commented on #1344
Hello both , thank you for testing `flang` and sharing your findings!

The `flang` wrapper script was introduced to aid the transition between the drivers in LLVM Flang. It is mostly meant for experimenting and is not actively maintained. All efforts have been focused on `flang-new`, the Flang compiler driver. As `flang` requires an external Fortran compiler to work (e.g. `gfortran`), there are no

[2022-01-04 15:34] banach-space commented on #1345
Hi @jeffhammond , have you tried updating Bash? Bash that's available on MacOS is rather dated and @cabreraam's suggestion for #1344 (i.e. to update Bash) should solve this issue. I tested the script locally with Bash 5.0.17.

[2022-01-04 17:47] cabreraam commented on #1344
Thanks for the reply, @banach-space!

I'm not sure how to go about finding what specific version of `bash` allows for the `-n` option, but I can tell you what I did do:

After finally finding out about `/usr/bin/env bash`, I've finally been able to verify that `bash` 4.4.23 works.

Specifically, I used Spack to install `bash@4.4`. The "safe" (according to `spack info bash`) versions of Bash are: {

[2022-01-04 19:04] banach-space commented on #1344
Thanks for confirming, that's much appreciated! Sounds like we can safely recommend `4.4.23` or higher: https://reviews.llvm.org/D116608.

Btw, others have also been trying to build various applications using LLVM Flang. We have a [GitHub board](https://github.com/flang-compiler/f18-llvm-project/projects/11) to track this.

[2022-01-05 12:35] Leporacanthicus commented on #1364
pmk confirmed on Slack that `VALUE` should be interpreted in the way described in this issue.

[2022-01-05 14:41] jeanPerier commented on #1364
Yes, 18.3.6 point 2, (4) about BIND(C) is not respected by lowering: "any scalar dummy argument with the VALUE attribute is interoperable with the corresponding formal parameter of the prototype".

We have to decide what to do out of the BIND(C) context (I am not sure this is decided in https://github.com/flang-compiler/f18-llvm-project/blob/fir-dev/flang/docs/Calls.md). I would be in favor of doi

[2022-01-05 15:31] Leporacanthicus commented on #1364
I am not working on a fix right now, but if nobody else has a quick fix, I'll look at it in a bit.

If someone else is feeling a need to fix, feel free... :)

Yeah, I'm aware of the big structs load/store issues. I believe the conventional solution is simply ot call memcpy when the struct size is bigger than some boundary.  This is the caller's responsibility, but yes, we may need to worry about t

[2022-01-05 16:21] cabreraam opened #1373 "undefined reference to `__fd_powi_1`, undefined reference to `__mth_i_dsqrt`"
Forgive me if this is a naive question--I don't know a lick of Fortran and am very new to working with `flang-new` and just Fortran in general.

I was trying to compile [this E3SM kernel](https://github.com/E3SM-Project/codesign-kernels/tree/master/atmosphere) and ran into the following error output:

[code]
I most recently pulled `fir-dev` commit `654837850493cacc4407ebda1cf2b6134138886d`

The of

[2022-01-05 16:57] jeanPerier commented on #1373
No, what you are seeing is a libpgmath symbol, it f18 started with it as a default targeted math library, but it can be overridden with the `-math-version=llvm` when compiling "manually" with the `bbc` tool. The `flang-new` driver support in lowering is recent, so I am not sure how to pass such option to it (@banach-space, is it possible to specify `llvm::cl::` flags to `flang-new` ?).

If you hav

[2022-01-05 20:12] banach-space commented on #1373
@jeanPerier Did you mean [-math-runtime](https://github.com/flang-compiler/f18-llvm-project/blob/fir-dev/flang/lib/Lower/IntrinsicCall.cpp#L892-L900)?

In general, options for the driver are defined in [Options.td](https://github.com/flang-compiler/f18-llvm-project/blob/fir-dev/clang/include/clang/Driver/Options.td) (i.e. through TableGen). It **is** possible to integrate `llvm::cl::` options, but

[2022-01-06 00:59] cabreraam commented on #1373
I did end up building `libpgmath` from [here](https://github.com/flang-compiler/flang/tree/master/runtime/libpgmath) and successfully linked that library, but I was getting a segfault when running the application that I will look into tomorrow. Thanks for the help @jeanPerier  and @banach-space!

@banach-space, I am happy to create a new issue, but I'm not quite sure what the issue should be title

[2022-01-06 03:42] PeixinQiao commented on #1359
Close this issue since the standard defined this behavior.

[2022-01-06 03:44] PeixinQiao commented on #1359
Close this issue since the standard defined this behavior. Thanks @kiranchandramohan for pointing out this on slack.
`A loop iteration variable for a sequential loop in a parallel or task generating construct is private in the innermost such construct that encloses the loop.`
The error/warning should be emitted for this case.

[2022-01-06 03:44] #1359 closed

[2022-01-06 07:01] jeanPerier commented on #1373
@banach-space , initially, when there was no driver in lowering, we have used `llvm::cl::` to test some options. My understanding is that we will probably have to move them to something the driver controlled option. The one I am referring to is defined [here](https://github.com/flang-compiler/f18-llvm-project/blob/665463cfac3d15de7c546778698c8695e4e3b4c2/flang/lib/Lower/IntrinsicCall.cpp#L892), an

[2022-01-06 13:21] Leporacanthicus commented on #1373
Segfault when running is quite regularly "running out of stackspace", so try `ulimit -s unlimited` before debugging too much else. This suggestion comes with no guarantees :)

[2022-01-06 14:30] kiranchandramohan commented on #1373
@jeanPerier is there an option to generate the `math` dialect (https://mlir.llvm.org/docs/Dialects/MathOps/) operations for intrinsics? Or is the preferred approach to always generate `llvm` intrinsics?
Will there be missing intrinsics in llvm?

What is the best approach going forward?
1. Upstream pgmath to the llvm repo.
2. Generate math dialect operations and then convert them to pgmath or llvm

[2022-01-06 14:58] banach-space opened #1377 "Should `--math-runtime` be generalised/specialised?"
From the definition of [--math-runtime](https://github.com/flang-compiler/f18-llvm-project/blob/fir-dev/flang/lib/Lower/IntrinsicCall.cpp#L892-L900) from `bbc`, I get the impression that it's geared for `pgmath`:

[code]

Perhaps there should be 2 options:
* cmd-line-option-1 to choose which Math library to use (e.g. `pgmath` or `llvm` or something else?),
* cmd-line-option-2 to switch between "fa

[2022-01-06 15:01] banach-space commented on #1373
@jeanPerier That's the same option that I linked :) I was slightly confused as you misspelled it as `--math-version` in your earlier post. All clear - we are referring to the same option. Crisis averted :)

@cabreraam If you're happy with your current solution then you can close this one and I can create the follow-ups.  Here's one for `--math-runtime=llvm`:  https://github.com/flang-compiler/f18-

[2022-01-06 15:38] cabreraam commented on #1373
@banach-space Perfect. I will go ahead and close this issue. Thanks all for the input!

[2022-01-06 15:38] #1373 closed

[2022-01-06 15:55] kiranchandramohan commented on #1377
@jeanPerier is there an option to generate the math dialect (https://mlir.llvm.org/docs/Dialects/MathOps/) operations for intrinsics? Or is the preferred approach to always generate llvm intrinsics? Will there be missing intrinsics in llvm?

What is the best approach going forward?
1. Upstream pgmath to the llvm repo. And generate pgmath symbols as the default.
2. Generate math dialect operations

[2022-01-06 16:32] sscalpone commented on #1377
LLVM has a notion of precise and fast intrinsics.   And finer grain control that mimics the intention of relaxed.  Clang exposes these as:

[code]

Also, the codegen affected by precise/fast/relaxed goes beyond the selection of the math library.  The front end needs to be involved because, afaik, e.g. there's no llvm intrinsics for acosh.  And, e.g. the front end adds the 'fast' attribute to IR.

[2022-01-06 16:39] #1348 closed

[2022-01-06 17:27] jeanPerier commented on #1377
No, when we started lowering the intrinsics, it was not clear if MLIR real types would support all the types needed for Fortran, so I added a way to generated LLVM intrinsics instead. It would make sense to have the option to generate MLIR math dialect operations since other MLIR dialects/transforms may be able to take advantage of them, although I have not dug in detail in the matter.

[2022-01-07 10:14] kiranchandramohan commented on #1377
There has been some progress in clang in this area. There is now a kind of umbrella flag, `ffp-model=<strict|precise|fast>` option. See the following links for more details.
https://clang.llvm.org/docs/UsersManual.html#cmdoption-ffp-model
https://github.com/llvm/llvm-project/blob/main/clang/test/CodeGen/ffp-model.c
https://www.youtube.com/watch?v=GPB_o_wXPcY

[2022-01-07 13:40] jeffhammond commented on #1345
Yeah, I installed bash via homebrew to workaround this.  It's a low impact issue.

[2022-01-07 13:52] banach-space commented on #1345
This change will make `flang` generate an error if your version of Bash is too old: https://reviews.llvm.org/D116608.

Btw, thanks for flagging this up!

[2022-01-07 14:20] banach-space commented on #1377
Thank you all for all the pointers!

I've just watched the presentation by Andy Kaylor from LLVM Dev 2021 (thanks for the link @kiranchandramohan !) and I think that it is very relevant to our discussion here.

As Kiran pointed out, Clang implements `-ffp-model=<value>` and I think that Flang should adopt that too. This way it will remain consistent with Clang. We may need to consider renaming `re

[2022-01-11 14:13] kiranchandramohan commented on #1192
@vdonaldson

Is this in nested OpenMP contexts? Like, should it be applicable only to the innermost OpenMP construct enclosing the `unstructured` code?

Currently, I have seen cases where the terminator of the outer OpenMP region is present in the `continue` of the inner region.

In the following case, a branch was missing from the `x = j - 222` block to the block with the `omp.yield`. Is adding a

[2022-01-13 07:59] sscalpone commented on #1344
Many of my tests are breaking because of the version check.

I had been using these shells successfully before the version check:

GNU bash, version 4.2.46(2)-release (x86_64-redhat-linux-gnu)
GNU bash, version 4.4.19(1)-release (x86_64-redhat-linux-gnu)
GNU bash, version 4.4.20(1)-release (x86_64-pc-linux-gnu)
GNU bash, version 4.4.20(1)-release (x86_64-redhat-linux-gnu)

I believe bash 4.2 imple

[2022-01-14 03:02] sscalpone commented on #1344
I think there's a bug in the script now.  The test of the minor version fails and "pipefail" causes the script to exit for "4.4".

[code]
I wrote a little example.  The final message doesn't print for me.
[code]

[2022-01-14 10:52] banach-space commented on #1344
Thanks for the reproducer, Steve! Yes, there's a bug :/

`check_bash_version` is missing a `return` statement. Currently it just returns the code returned by the inner `[[` instead (i.e. the last command in the function). You can read more on `return` (and `exit`) in Bash [here](https://tldp.org/LDP/abs/html/complexfunct.html#EXITRETURN1). This bit is key:

In your case, the second test in `check_

[2022-01-17 13:59] yugr opened #1391 "Adapt to nvfortran"
Hi, there seem to be a few missing pieces for enabling flang wrapper to nvfortran for I'm attaching a simple patch. If it looks generally correct I can contribute it properly (I assume I need to file a Phabricator request although it may be an overkill for such simple patch).

[nvfortran-1.patch.txt](https://github.com/flang-compiler/f18-llvm-project/files/7882324/nvfortran-1.patch.txt)

[2022-01-19 12:07] kiranchandramohan commented on #1391
If you create a patch upstream using phabricator that would be great. No patch is too small! :)

[2022-01-19 12:39] kiranchandramohan commented on #1192
I have created a PR that fixes this issue. https://github.com/flang-compiler/f18-llvm-project/pull/1394
@vdonaldson please have a look.

[2022-01-24 06:38] yugr commented on #1391
Thanks, I've uploaded three revisions there. Hope they'll get in)

[2022-01-26 17:12] banach-space opened #1415 "Thornado"
Enable building and execution of the Thornado application with the LLVM Flang compiler.

[2022-01-26 17:16] kiranchandramohan opened #1416 "E3SM-kernels"

[2022-01-30 00:20] wsmoses opened #1426 "Cycle in an OpenMP Do breaks"
[code]

[code]

[2022-01-31 12:53] kiranchandramohan commented on #1426
@wsmoses Thanks for reporting this issue. We have a patch (https://github.com/flang-compiler/f18-llvm-project/pull/1394) that fixes a similar issue. Could you give that a try?

[2022-01-31 23:56] wsmoses commented on #1426
Nope, instead gets an internal error

[code]

[2022-02-01 20:23] AlexisPerry commented on #1416
The following is a reproducer for a segmentation fault that I get when running the atmosphere kernel.  There are a number of comments inline about changes that make the segfault disappear (prefixed with !NOTE).  Any suggestions for where to look to fix this?  I'm compiling with `flang-new -O3 -ffixed-line-length=none -L<path to libpgmath> -lpgmath`

[code]

[2022-02-02 12:15] jeanPerier commented on #1416
Hi @AlexisPerry, I think there is something wrong with the base address computation of `qtens(:,1,1,ie)`. I made a small FIR repro below that is supposed to print the address of `qtens(:,1,1,ie)` with `ie=2` assuming `qtens` base address is zero, and it prints `1843200` while I would have expect it to print `4*72*40*(2-1)*sizeof(f32)=46080`.

So if you want to look into it, it might be worth looki

[2022-02-04 11:13] kiranchandramohan opened #1440 "Create a pass for simplifying regions"
While lowering from parse-tree to FIR we can sometimes generate some dead code. This is currently handled by a call to simplifyRegions in `endFunction` in Bridge.cpp. This ticket captures the FIXME present at the callsite.

This ticket is created as a fallout of upstreaming the lowering of goto statement (https://reviews.llvm.org/D118983).

[2022-02-07 23:06] sitio-couto opened #1445 "Compiling FIR code for RISC-V target"
Hey,

I'm trying to compile a Fortran _hello world_ source code through FIR to run on a RISC-V target using [Chipyard](https://chipyard.readthedocs.io/en/latest/index.html).

It looks something like this:

[code]

However, it fails when linking the RISC-V program with the libraries since they are not compatible with RISC-V:

[code]

I haven't found a proper way to compile Fortran code to RISC-V, e

[2022-02-08 07:34] jeanPerier commented on #1445
Hi, thanks for reporting the issue, it is exiting to see flang being tested on new platforms (I am not aware RISC-V was already tested) !

I am not familiar with Chipyard, are you cross-compiling to RISC-V or was the host compiler (LLVM with flang) also compiled on RISC-V ? From the error you are reporting, it looks like the issue is that the flang runtime libraries `libFortran_main.a` and `libFor

[2022-02-09 10:31] jeanPerier commented on #1416
@AlexisPerry, are you already working on the issue? Otherwise, I can investigate more and make a fix for this issue.

[2022-02-09 10:58] Sezoir opened #1452 "Elefunt"
Enable building and execution of the Elefunt application with the LLVM Flang compiler.

[2022-02-09 11:25] Sezoir commented on #1452
## ****Note: I am not planning to take on this project. This is just an initial report found.** **

### elefunt:

https://www.netlib.org/elefunt/

elefunt is a benchmark from the [netlib](https://www.netlib.org/) repository.

### Initial report for elefunt:
- **Minimum version of Fortran required using gfortran: F95**
- **Running `make CFLAGS=-DSP` also results default compiling with F77**
- **How

[2022-02-09 13:06] PeixinQiao commented on #1212
@Sezoir @kiranchandramohan Any progress on this? Writing out the declarative attribute in the module file can not only help semantic analysis, it may also help handle the lowering process.

[2022-02-09 13:21] PeixinQiao commented on #1195
Based on the knowledge learned from lowering block data, it should work ok to create one Threadprivate Op in OpenMP dialect for both threadprivate use in module and non-module. If the directive is used in module, generate the fir.address_of and openmp mlir in mlir file, and export the attribute in mod file. If it is used in non-module, the previous patch can handle it. Will give it a try.

[2022-02-09 13:42] kiranchandramohan commented on #1212
We have not worked on this. Also, we are unlikely to work on this in the next couple of months.

[2022-02-09 13:59] Sezoir opened #1454 "miniGhost"
Enable building and execution of the miniGhost application with the LLVM Flang compiler.

[2022-02-09 15:54] Sezoir opened #1456 "NCAR Kernels"
Enable building and execution of the NCAR Kernels with the LLVM Flang compiler.

[2022-02-09 15:55] Sezoir commented on #1456
#### **Next steps:** I am not planning to take on this project. This is just an initial report found. Please feel free to work on this.

###  NCAR kernels:
https://github.com/NCAR/kernelOptimization

The NCAR kernel optimization repository consists of a lot kernels. For this initial report I looked at the following kernels:
- **PORT_sw_rad**
- **CLUBB_advance_clubb_core**
- **HOMME_laplace_sphere_

[2022-02-09 16:23] PeixinQiao commented on #1212
@kiranchandramohan Can I take a look at it and try to handle it since it may be prerequisite for lowering threadprivate directive in module when it is declared in module while used in main program?

[2022-02-09 16:29] kiranchandramohan commented on #1212
Sure @PeixinQiao, please go ahead. I will assign this to you.

[2022-02-09 17:30] Sezoir opened #1457 "QuantumEspresso"
Enable building and execution of the QuantumEspresso application with the LLVM Flang compiler.

[2022-02-09 17:31] Sezoir commented on #1457
#### **Next steps:** I am not planning to take on this project. This is just an initial report found. Please feel free to work on this.

### Quantum ESPRESSO:
https://gitlab.com/QEF/q-e

The build system for Quantum Espresso can be built with either CMake, or using there custom configure script. Since CMake does not currently support flang-new, I'll focus on using the custom configure script in th

[2022-02-09 18:33] jeanPerier commented on #1416
Sounds good to me, thanks for looking into this !

[2022-02-10 11:43] Sezoir opened #1462 "snbone"
Enable building and execution of the SNbone application with the LLVM Flang compiler.

[2022-02-10 11:44] Sezoir commented on #1462
#### **Next steps:** I am not planning to take on this project. This is just an initial report found. Please feel free to work on this.

### SNbone:
https://proxyapps.exascaleproject.org/app/snbone/
https://github.com/ANL-CESAR/SNbone

### Initial report for SNbone:
- **Minimum version of Fortran required using gfortran: F95**
    - Required arguments to compile with version: "-fdec"
- **How to co

[2022-02-10 12:22] PeixinQiao commented on #1212
@kiranchandramohan Thanks a lot.

[2022-02-10 15:26] Sezoir opened #1463 "specfem3d"
Enable building and execution of the specfem3d application with the LLVM Flang compiler.

[2022-02-10 15:27] Sezoir commented on #1463
#### **Next steps:** I am not planning to take on this project. This is just an initial report found. Please feel free to work on this.

### specfem3d:
https://geodynamics.org/cig/software/specfem3d/
https://github.com/geodynamics/specfem3d_globe/tree/master

### Initial report for specfem3d:
- **Minimum version of Fortran required using gfortran: F2003**
    - Required arguments to compile with v

[2022-02-10 15:50] Sezoir opened #1464 "Tealeaf"
Enable building and execution of the Tealeaf application with the LLVM Flang compiler.

[2022-02-10 15:54] Sezoir commented on #1464
#### **Next steps:** I am not planning to take on this project. This is just an initial report found. Please feel free to work on this.

### TeaLeaf Repository:
https://github.com/UK-MAC/TeaLeaf

The main TeaLeaf repository contains several different versions of TeaLeaf for different implementations of TeaLeaf. For compiling with Fortran, we are interested in the TeaLeaf_ref repository.

### Initi

[2022-02-10 18:18] Sezoir opened #1465 "umt"
Enable building and execution of the umt application with the LLVM Flang compiler.

[2022-02-10 18:25] Sezoir commented on #1465
#### **Next steps:** I am not planning to take on this project. This is just an initial report found. Please feel free to work on this.

### umt:
https://github.com/LLNL/UMT

Looking at the GitHub repository, there seems to be a few different implementations of umt. For this report, I focused on the implementation on the GitHub "Releases" page called `v2.0 UMT2015 Benchmark for APEX Procurement`.

[2022-02-10 19:31] Leporacanthicus opened #1466 "Poor performance when accessing multidimensional arrays"
This ticket is a result of performance investigation done at Arm, comparing SNAP application compiled with flang-new and gfortran.

The code in SNAP's mms.f90 contains this code:

[code]
The code in the innermost loop contains two references to a 6-dimension array, and a total of 6 different arrays, all of which are fully computed for every loop iteration. Hand-modification of the index computatio

[2022-02-11 10:51] Sezoir commented on #1415
#### **Next steps:** I am not planning to take on this project. This is just an initial report found. Please feel free to work on this.

### thornado:

https://proxyapps.exascaleproject.org/app/thornado-mini/
https://github.com/ECP-Astro/thornado_mini

The thornado application requires the following to build:
 - MPI (For this I used [openmpi](https://github.com/open-mpi/ompi) as a wrapper compiler

[2022-02-11 11:54] Sezoir opened #1472 "sw4"
Enable building and execution of the sw4 application with the LLVM Flang compiler.

[2022-02-11 12:08] Sezoir commented on #1472
#### **Next steps:** I am not planning to take on this project. This is just an initial report found. Please feel free to work on this.

### sw4:

https://geodynamics.org/cig/software/sw4/
https://github.com/geodynamics/sw4

This project requires the following:
    - MPI C compiler. For this I used [openmpi](https://github.com/open-mpi/ompi).
    - [blas](http://www.netlib.org/blas/)
    - [lapack

[2022-02-11 14:20] Sezoir opened #1474 "stream"
Enable building and execution of the stream application with the LLVM Flang compiler.

[2022-02-11 14:22] Sezoir commented on #1474
#### **Next steps:** I am not planning to take on this project. This is just an initial report found. Please feel free to work on this.

### stream:

https://www.cs.virginia.edu/stream/
https://www.cs.virginia.edu/stream/FTP/Code/

### Initial report for stream:
- **Minimum version of Fortran required using gfortran: F95**
- **How to compile with gfortran:**
    1. First you can download the proje

[2022-02-11 16:55] Sezoir opened #1476 "Spec-2017"
Enable building and execution of the SPEC 2017 benchmarks with the LLVM Flang compiler.

[2022-02-11 16:59] Sezoir commented on #1476
#### **Next steps:** I am not planning to take on this project. This is just an initial report found. Please feel free to work on this.

### SPEC 2017:

Since SPEC 2017 consists of quite a lot of benchmarks, for this initial report I looked at exchange2 and bwaves_r benchmarks.

### Initial report for exchange2:
- **Minimum version of Fortran required using gfortran: F95**
- **How to compile with

[2022-02-11 17:03] Sezoir opened #1477 "Epcc_f"
Enable building and execution of the Epcc_f application with the LLVM Flang compiler.

[2022-02-11 17:46] Sezoir commented on #1477
#### **Next steps:** I am not planning to take on this project. This is just an initial report found. Please feel free to work on this.

As of 11/02/2022 I can no longer download the epcc_f benchmark. Looking at the link to epcc_f from [OpenMP benchmark](https://www.openmp.org/resources/openmp-benchmarks/), I encounter the same issue.

[2022-02-16 15:02] banach-space commented on #1341
### Prepare LLVM Flang

Follow these steps to build LLVM Flang. Remember to use the `fir-dev` branch from [f18-llvm-project](https://github.com/flang-compiler/f18-llvm-project). For OpenMP support, you will also need https://github.com/flang-compiler/f18-llvm-project/pull/1366 (hopefully this will be merged soon).

[code]

### Prepare pgmath
LLVM Flang currently depends on pgmath for Math routines

[2022-02-17 19:21] Leporacanthicus commented on #1364
I'm not quite sure what the right solution is here: I believe BIND(C) combined with ELEMENTAL is invalid. So there's no specific need to fix THAT.

However, it remains a problem that the fix that I provided a few days ago ONLY works for BIND(C), and `BaseAddressValueAttribute` is not supported for non-elemental subroutines and functions - this causes the compiler to crash.

[2022-02-17 23:06] h-vetinari commented on #1341
Great to see that this is starting to pass applications!

I have a quick question but didn't want to raise an issue for this just yet: I don't see BLAS/LAPACK (the [original](https://github.com/Reference-LAPACK/lapack)) in https://github.com/flang-compiler/f18-llvm-project/projects/11, should this be added?

[2022-02-18 10:11] banach-space commented on #1341
That's a good suggestion, I've just added it :)

[2022-02-19 20:15] sitio-couto commented on #1445
Hey @jeanPerier,

I was trying to create a Flang that could cross-compile to RISCV, so both the build and host machines are X86, only the target that was changed to RISCV. The approach used was an adaptation of [these](https://github.com/sifive/riscv-llvm) instructions to create a Clang cross-compiler. I've also tried cross-compiling Flang itself in an attempt to generate the runtime libraries to

[2022-02-24 00:03] kiranchandramohan opened #1497 "Floating point llvm lowering of abs intrinsic"
The floating-point lowering of Fortran intrinsics like `abs` uses the llvm intrinsics. Currently, we only have the f32 and f64 floating types [handled](https://github.com/flang-compiler/f18-llvm-project/blob/e68001b85cb0818abd65296f61274504e75fa3f2/flang/lib/Lower/IntrinsicCall.cpp#L1035). If a quad precision or a half-precision then this will result in being converted to a 32 bit type and then th

[2022-02-24 09:52] mikaoP opened #1498 "Assert hit in bbc -debug"
The following code hits an assert when CFGConversion pass is run:

[code]

Command: `bbc f1.f90 -debug --pass-pipeline --cfg-conversion`
Log
[code]

[2022-02-24 13:29] Leporacanthicus opened #1499 "SUM function should be inlined (or optimised)"
Using the intrinsic function SUM to calculate the sum of a simple array, is significantly slower than a trivial variant with a loop doing the same work.

This is a result of investigating why the SNAP applicaiton is much slower using Flang than when using gfortran, and using two small functions to perform a few SUM operations in dim3_sweep made the whole benchmark run about 30-35% faster.

Here's

[2022-02-24 13:57] Leporacanthicus opened #1500 "Hoist malloc/free out of loops."
Avoiding malloc/free altogether would be even better, but not always doable.

The following is an example of code that calls malloc & free [as an implementation of `fir.allocmem` and `fir.freemem`] to implement the `WHERE` functionality.

This is another performance enhancement found when investigating performance of the SNAP application.

Here's an example:
[code]

[2022-02-24 15:07] Leporacanthicus opened #1501 "Driver support for optimisation passes"
The current `flang-new` driver doesn't support optimisation.

When working on the SNAP perforamnce investigation, compiling the 2 files of hand-modified MLIR with `clang -O3`, gave 5-10% improvement, with no other changes.

The general framework for this is also required to allow specialized optimisation passes on FIR and LLVM-IR in Flang.

[2022-02-24 15:15] banach-space commented on #1391
This change has now been merged (https://reviews.llvm.org/D117766), closing. Please re-open if there's still any outstanding work that I missed!

[2022-02-24 15:29] banach-space commented on #1445
I would try avoid the cross-compilation path (from [here](https://github.com/llvm/llvm-project/blob/650aec687eb54aeeb3cef4a41f2dbaa49ef3e358/flang/lib/Optimizer/CodeGen/DescriptorModel.h#L14-L18)):

// portability layer for cross-compilation as these reflected types are those of
// the build machine and not necessarily that of either the host or the target.
// This assumption that build == host ==

[2022-02-24 15:35] banach-space commented on #1345
Closing this as I don't expect any other updates beyond https://reviews.llvm.org/D116608.

[2022-02-24 15:35] #1345 closed

[2022-02-24 15:38] banach-space commented on #1345
Closing this as I don't expect any other updates beyond https://reviews.llvm.org/D116608.

[2022-02-24 15:42] banach-space commented on #1176
Closing as we have been able to build SNAP just fine. This is documented in https://github.com/flang-compiler/f18-llvm-project/issues/1341.

[2022-02-24 15:42] #1176 closed

[2022-02-24 16:02] Leporacanthicus commented on #1500
Hand-modified MLIR, which, when compiled with tco + clang -O1 runs about 10% faster - that's ONLY by mvoing the malloc/free out of the loop.
[code]

Diff for the changes:
[code]

[2022-02-28 12:59] jeffhammond commented on #1353
This is already fixed in https://github.com/llvm/llvm-project/blob/149ad3d554c6e901a57c7e34e29fba334dcd283c/flang/lib/Optimizer/Builder/Character.cpp#L17. Can you just cherry-pick or rebase that fix?

[2022-02-28 13:53] jeffhammond commented on #1500
I understand why hoisting memory management is good, but why does `where (qim >= 1.0) qim = 1.0` need that at all?  Is this statement not syntactic sugar for a loop over a logical expression?  Why is the compiler trying to generate a temporary at all?

Why wouldn't the compiler try to transform
[code]
to something like this
[code]
(or something similar)?

[2022-03-02 12:22] sscalpone commented on #1497
It's a first-cut implementation that handles only 32- and 64-bit types.

I've been thinking we might adjust the implementation of the numeric intrinsics.  Roughly, I think we should implement the Fortran intrinsics using the available intrinsics from the standard and quadmath libraries.  The focus of this library would be coverage of all of the intrinsics across all of the KINDs we which to suppor

[2022-03-02 14:52] Leporacanthicus commented on #1196
Closing as #1277 fixes this.

[2022-03-02 14:52] #1196 closed

[2022-03-02 14:57] Leporacanthicus commented on #795
Workaround: use `GET_COMMAND_ARGUMENT` instead, which is implemented now.

[2022-03-02 15:22] Leporacanthicus opened #1511 "Use after free on WHERE with two different assignments in the body"
The following program fails on valgrind with use after free, and as it stands (on Linux at least) fails with a segfault. Changing the size to a smaller one, and the segfault goes away [1].

This code is derived from a `mms_verify_1` in the file mms.f90 in SNAP.

[code]

Swap the line ` df = zero` with `ref_flux = one` and it works just fine for some reason!

I believe the problem lies in the mask

[2022-03-03 19:32] Leporacanthicus commented on #1364
I'm working on a solution for the simple case that asserts in the compiler.

[2022-03-06 09:58] oroppas commented on #790
Fixed in fir-dev branch.

[2022-03-06 09:58] #790 closed

[2022-03-06 10:02] oroppas commented on #997
Fixed in fir-dev branch.

[2022-03-06 10:02] #997 closed

[2022-03-06 10:07] oroppas commented on #918
I can confirm this issue is fixed. Thanks!

[2022-03-06 10:07] #918 closed

[2022-03-06 10:08] oroppas commented on #1021
I confirm this issue is fixed. Thanks!

[2022-03-06 10:08] #1021 closed

[2022-03-06 10:41] oroppas commented on #953
`bbc` emits the error message as expected.

[2022-03-06 10:41] #953 closed

[2022-03-09 07:10] PeixinQiao opened #1521 "Bug about upper bound in pointer association"
[code]
Expected:
[code]
Result:
[code]

[2022-03-09 12:35] jeanPerier commented on #1521
Thanks for reporting the bug.
It looks like a double UBOUND bug when the extent is zero: one in the front-end folding, and one in lowering.

**Expected behavior:**
As per the standard (16.9.196 UBOUND Case(i)):
_"If DIM is present, ARRAY is a whole array, and dimension DIM of ARRAY **has nonzero extent**, [...]. Otherwise, if DIM is present, the result has a value equal to the number of elements i

[2022-03-17 12:55] PeixinQiao commented on #1195
Close this issue since the new method using openmp dialect can handle the threadprivate usage in module.

[2022-03-17 12:55] #1195 closed

[2022-03-17 13:01] PeixinQiao commented on #1136
## Test case 11: use assocation for non-common block
[code]
## Expected results:
[code]

[2022-03-17 13:28] PeixinQiao commented on #1136
## Test case 14: common block in threadprivate and used in multiple program units (revised from test case in classic flang)
[code]
## Expected results:
[code]

[2022-03-17 13:30] PeixinQiao commented on #1136
## Test case 15: argument assocation
[code]
## Expected results:
[code]

[2022-03-18 13:57] kiranchandramohan commented on #1497
Thanks @sscalpone for the reply. Apologies for the delay in my response.

OK

I am guessing you mean the standard math library here when you mention standard.

Are you suggesting a wrapper library (like pgmath) here?

And since math library subsequently lowers to LLVM or makes calls to the math library, can we effective replace the existing lowering to llvm intrinsics?

[2022-03-22 22:21] kiranchandramohan opened #1544 "Issues with math intrinsic lowering"
This ticket captures a few issues that were seen in math intrinsic lowering.

1. llvm intrinsic lowering table contain entries for calls to the math library for atan, cosh, sinh.
2. By default math intrinsics are outlined, this can impact vectorisation since the outlined function name is not known to the llvm vectoriser but the llvm intrinsic name is known.
3. There is no support for intrinsics wi

[2022-03-25 03:10] PeixinQiao commented on #1171
@kiranchandramohan I supported common block in private clause preivously since I found the code is the same as that in threadprivate. Jean asked to use host association for common block, too. So the implementations will be different. There is some problems when resolving common block. Although I had the idea what's going on there, considering you take up private clause, do you want to do it on you

[2022-03-25 13:04] jeanPerier commented on #1521
Hi @PeixinQiao , this bug should be fixed now. Please close it whenever you are able to verify the fix.

[2022-03-28 11:02] PeixinQiao commented on #1521
Tested ok now.

[2022-03-28 11:02] #1521 closed

[2022-03-28 12:56] shraiysh commented on #1093
This issue is causing the design of OpenMP Dialect in MLIR to become complicated. I will be reopening this issue because while it does not cause any functional issues, if forces special handling for this specific case. If this is meant as an optimization, this can be done as an FIR pass, which will probably not modify the IR if this was also used by OpenMP operations.

[2022-03-28 14:14] jeanPerier commented on #1093
Note that the `-fno-automatic` causes all main program variables to implicitly have the save attribute (including scalars). I am not sure if it makes sense having OpenMP requiring this flag (it also affects locals in non recursive programs), but you could also consider it.

[2022-03-28 15:52] PeixinQiao commented on #1093
I don't think adding `-fno-automatic` is one good way. It may cause performance issues for some local arrays if we want to use it in stack. Besides, it makes flang not compatible with gfortran regarding to this option.

[2022-03-29 04:56] shraiysh commented on #1093
I don't think adding -fno-automatic is one good way. It may cause performance issues for some local arrays if we want to use it in stack. Besides, it makes flang not compatible with gfortran regarding to this option.

Right, would it be okay @jeanPerier to do this change for the variables to make the behavior consistent and avoid special cases?

[2022-03-30 22:22] schweitzpgi commented on #1093
In short, it is not wrong and is the intended default. The main program is not reentrant. Any RETURN from the main program can never "come back" to another instance of the main program. For performance reasons, we want to register promote variables, even in the main program. (Imagine aggressively inlining into the main program. It would be a bad idea to force every variable's value to travel back

[2022-03-31 02:02] sscalpone commented on #1093
Please explain the issue and complication.

[2022-03-31 03:04] PeixinQiao commented on #1093
That's right. Actually classic-flang generates alloca in main program in LLVM IR for threadprivate directive and emits the openmp runtime call with the argument of alloca result. I have transformed the allocaOp into GlobalOp for threadprivate variables with implicit SAVE attribute in main program to simplify the [lowering](https://github.com/Huawei-PTLab/f18-llvm-project/blob/2f93243b5f7c401241b1f

[2022-03-31 04:17] shraiysh commented on #1093
I will try to elaborate the issue and the suggested solution.
AFAIU for all cases of threadprivate we can have a global variable with a thread_local attribute and then start using it like any normal variable in the program. The problem with the current implementation of implicit SAVE (passing a local reference to the function as an argument) is that we lose information that it is a global and henc

[2022-03-31 11:56] PeixinQiao commented on #1093
As in my mind, there are four solutions to handle this:
1. Add `SAVE` attribute for threadprivate variables in semantic analysis.
2. Add global attribute when making `Variable` for threadprivate variables.
3. instantiate `Global` when `Variable` is global or symbol has threadprivate flag.
4. Do it using current implementation.

For 1 and 2, I am not sure if it is reasonble and if it will crash som

[2022-04-04 12:33] rofirrim opened #1565 "function-stmt in interface bodies may have a declaration-type-spec in their prefix that contains a use/host-associated variable"
Hi,

Sorry for the confusing name of the issue, I tried to be a bit precise, so I hope the testcase below is clearer.

[code]

This is rejected by flang:

[code]

I am aware this is a Fortran 2003 feature.

A similar problem happens with use-association.

[code]

[code]

I admit I'm not 100% sure about the validity of this (but all compilers I could test on https://fortran.godbolt.org were OK with

[2022-04-04 17:13] rofirrim commented on #1565
Looking at the code, there is a method called `FinishFunctionResult` in `flang/lib/Semantics/resolve-names.cpp`. It is called at the end of processing the `function-stmt` when the return type is an intrinsic type. Derived types are deferred at the end of the specification part. A comment says that this early process happens in order to be able to resolve specification queries, like the one below.

[2022-04-05 07:23] jeanPerier commented on #1416
Hi @AlexisPerry and @kiranchandramohan , the fix for the reported problem was merged, please close this issue whenever you are able to verify that it did actually fix the E3SM issue.

[2022-04-05 07:48] jeanPerier commented on #1565
Hi @rofirrim , thanks for the bug report. Lowering does not claim F2003 support, but semantics should be able to deal with up to F2018, so that is definitely a bug.

@klausler is working on a similar issue (deferring intrinsic function type resolution, this is actually required to handle things like `real(kind(x)) function foo(x)`). Maybe this will also fix this issue.

[2022-04-05 12:25] rofirrim commented on #1565
Just in case this is useful for @klausler, delaying the evaluation of a derived type at the end of the specification part might fail in this case.

[code]

Not 100% sure if this is valid as some commercial compilers are struggling with this case already.

Also the use of `x` inside `kind` is a bit questionable because it forces it to be the default `real` even we stated an `implicit none` though a

[2022-04-05 20:05] AlexisPerry commented on #1416
I just confirmed that the new patch fixes the error with the atmosphere kernel.  It runs now (albeit slower) and gets the same answer as gfortran.

[2022-04-06 14:58] NimishMishra opened #1571 "Issues with check-mlir target in fir-dev"
In a commit tree with [this](https://github.com/flang-compiler/f18-llvm-project/commit/2a47b5ae14c15397828990a6beab6beccbea9556) as the topmost commit, I observed 2 failures in `check-mlir` target (`Target/LLVMIR/llvmir.mlir` and `Transforms/test-legalize-type-conversion.mlir`). If these are known issues, please feel free to ignore.

########## detailed log ############

**FAIL: MLIR :: Target/LLV

[2022-04-06 15:03] NimishMishra commented on #1571
Pinging @kiranchandramohan and @PeixinQiao

[2022-04-06 20:59] kiranchandramohan commented on #1571
Can you confirm that this is fixed in fir-dev now? Fixed by @PeixinQiao's following PR. If fixed, please close the issue.
https://github.com/flang-compiler/f18-llvm-project/pull/1569

[2022-04-07 01:02] PeixinQiao commented on #1571
Yes, that was also what I got. It has been fixed in fir-dev as @kiranchandramohan mentioned.

[2022-04-07 03:20] #1571 closed

[2022-04-19 10:21] kiranchandramohan opened #1595 "Review uses of converter.getSymbolAddress in the Lowering code"
@schweitzpgi pointed out during the review in https://github.com/flang-compiler/f18-llvm-project/pull/1592 that the usage of `getSymbolAddress`  will probably not work in any situation where boxed types are used. This is currently used in a few places in OpenMP and OpenACC, and in F77 construct lowering and in a few other places. All uses are listed below. Review the uses and fix if necessary.

li

[2022-04-19 12:27] rovka commented on #1476
I did a few runs of SPEC on AArch64 using the scripting infrastructure from the llvm-test-suite (commit d52a93a8, plus a minor hack to remove -Werror=date-time from [CMakeLists.txt](https://github.com/llvm/llvm-test-suite/blob/726901d06aab2f92d684d28507711308368c29d6/CMakeLists.txt#L56)) and a patched up cmake.

For reference, gfortran can handle all of SPEC with "-cpp -ffree-line-length-none -ffi

[2022-04-30 03:01] PeixinQiao opened #1598 "derived type not supported well in forall"
[code]
[code]

[2022-04-30 03:04] PeixinQiao commented on #1598
@jeanPerier @schweitzpgi Can you take up this? I am still in the learning process of lowering the derived type and cannot come up one solution for this now.

[2022-05-02 09:54] rofirrim opened #1599 "A restricted expression may contain object designators whose base object is a dummy with INTENT(OUT) when they occur in specification inquiries"
(Sorry again for the wordy title)

`flang` is rejecting the following code

[code]
[code]

A quick read to C1010 (§10.1.11 in Fortran 2018 draft) suggests that this should be rejected due to `10.1.11p2 (2)`, so `flang` seems correct. However all other compilers I've been able to test accept this.

![Screenshot from 2022-05-02 11-44-51](https://user-images.githubusercontent.com/1222352/166215569-5b

[2022-05-03 11:10] kiranchandramohan commented on #1476
@rovka Thanks for the report. Shall we create separate entries for bwaves and roms? We might look into what is missing in others. And will create separate entries if we start working on any of the others.

[2022-05-03 11:37] rovka commented on #1476
@kiranchandramohan I think separate entries are probably a good idea. I'm considering this on hold until we're done with upstreaming though, since there's no point in exercising the fir-dev branch if it's frozen, and I'm not sure everything we need is in main yet.

[2022-05-06 20:47] kiranchandramohan commented on #1171
Currently the copying of firstprivate values happens at the beginning of the region. This can cause issues in non-parallel OpenMP regions like the work-sharing loop. For e.g in the code below, the value of arg1 will be set to 20 after the copying is done. This can cause the privatised copy to have the incorrect value. The copying should be performed just before entering the work-sharing loop regio

[2022-05-06 20:51] kiranchandramohan commented on #1171
Issue regarding data-race pointed out in the following thread.

https://discourse.llvm.org/t/issues-with-the-current-implementation-of-privatization-in-openmp-with-fortran/62335

[2022-05-08 15:48] banach-space commented on #1476
+1  :)

We are actually poking around a bit :) If we have something new to share, we will create dedicated tickets. From my initial triaging, the following split would make sense:

* 548/648.exchange_2
* 503/603.bwaves
* 549/649.fotonik3d
* 554/654.roms
* 507/607.cactuBSSN
* 527/627.cam4
* 628.pop2
* 521/621.wrf

What do you think? This would match how the benchmarks are split within SPEC. Also, f

[2022-05-10 07:38] rovka commented on #1476
@banach-space I haven't looked into how the test suite sets this up. I didn't notice anything related to -lpthread, but I did pass flags for lpgmath. Basically I configured the test-suite with `-DCMAKE_Fortran_FLAGS="-lpgmath -L$HOME/work/pgmath/build/lib -flang-experimental-exec"` and it was all taken care of :)

[2022-05-12 01:05] PeixinQiao commented on #1212
This has been supported by https://reviews.llvm.org/rG2cbd4fc4424a88573ee03e2f1dce345f7826e662. The current LLVM (https://github.com/llvm/llvm-project) already supports this. @Sezoir Can you close this?

[2022-06-01 17:01] shraiysh commented on #1171
For the following snippet, the shared value of `a` is used as the loop bound in the current implementation. The private one should be used instead.
[code]

[2022-06-14 10:32] rovka commented on #1476
This is now tracked in the [LLVM organization](https://github.com/orgs/llvm/projects/8).

[2022-07-09 16:49] cabreraam opened #1600 "[Driver] Potential driver issue when using `ninja` as generator"
Hi all,

I was trying to build an application using Ninja as the generator. When I tried to compile the project, I hit many errors, but they're all the same. They look like this:

[code]

The last line,
[code]

makes me think that there is a missing space somewhere in the driver? When I insert the space s.t. the command becomes `... -module-dir Fortran/SNAP/src`, the compilation succeeds. Addition

[2022-07-09 17:38] banach-space commented on #1600
This was fixed in  https://reviews.llvm.org/D125957, which is missing from `fir-dev` :)  Why not switch to upstream llvm-project instead?

-Andrzej

[2022-07-09 18:56] cabreraam commented on #1600
Because I didn't know I could do that! Thanks for the heads up. Once I test it, I'll close this.

Thanks @banach-space !

[2022-07-12 21:29] cabreraam commented on #1600
Okay, I was able to use `flang-new` from the upstream llvm repo to successfully build `SNAP`. However, I did encounter the following error during the CMake configure step:

[code]

The last bit is the problem:
[code]
I tried to install `lld` in the same project as my upstream flang-new build, but for some reason I couldn't get it to build when I specified `lld` as an additional option in `LLVM_ENA

[2022-07-13 06:56] banach-space commented on #1600
Great news!

The missing search path is added in [Gnu.cpp](https://github.com/llvm/llvm-project/blob/main/clang/lib/Driver/ToolChains/Gnu.cpp#L600), so you shouldn’t require the extra CMake flag when configuring SNAP. How did you run CMake? Did you follow the [docs](https://github.com/llvm/llvm-project/blob/main/flang/docs/FlangDriver.md#cmake-support)?

Thanks!

[2022-07-13 13:27] vfdff opened #1601 "[crash] compile fail on function CodeGenAction::setUpTargetMachine"
test case, see detail in https://godbolt.org/z/W8W7P9Tav

[code]

[2022-07-15 21:27] cabreraam commented on #1600
Ah, based on the [docs](https://github.com/llvm/llvm-project/blob/main/flang/docs/FlangDriver.md#cmake-support), __I was not passing `-flang-experimental-exec`__. That solved my linking issue! Thanks @banach-space!

[2022-07-15 21:27] #1600 closed

[2022-07-19 11:51] vfdff opened #1602 "[X86] flang doesn't generate loop vectorization instructions for basic array initialization"
For a basic 3D array initialization, flang does not generate loop vectorization instructions, while ifort done.

test case, see detail in https://godbolt.org/z/rPo5WaEoq
[code]

[2022-07-20 20:59] AlexisPerry commented on #1416
I get the following error when running mmf-mpdata-tracer built with `flang-new -flang-experimental-exec`:

`error: loc("./advect_scalar2D_pushncols_openacc.F90":652:5): /vast/home/aperry/llvm-project/flang/lib/Lower/CustomIntrinsicCall.cpp:236: not yet implemented: unhandled dynamically optional arguments in SYSTEM_CLOCK or RANDOM_SEED`

[2022-07-21 17:47] jeanPerier commented on #1602
Hi, thanks for the report. Please note that we moved to LLVM issues for flang now that it is fully upstreamed. We have not migrated the issues so this is still open, but new issues should be opened there.

@banach-space, if I copy past the LLVM IR produced by `flang-new -O3 -g -w -S -emit-llvm` and pass it to `-O3 -g -w -S`, I get vectorized code. Is something missing in the driver pipeline to all

[2022-07-21 17:48] jeanPerier commented on #1602
https://godbolt.org/z/xG7vGnsvY

[2022-07-25 10:05] banach-space commented on #1602
Thanks for reporting this and for the reproducers! And sorry for the delay, I had a bit of catching up to do last week.

@jeanPerier Both Clang and Flang use default set-ups from LLVM for their optimisation pipelines. However, there's also a great deal of fine-tuning in Clang, which has not been considered in Flang.  The following experiment should provide a hint (run on AArch64):
[code]

Once the

[2022-08-04 10:35] Leporacanthicus commented on #1511
Closing, new issue raised in llvm/main (with link to this one)

[2022-08-04 10:35] #1511 closed

[2022-08-11 15:18] banach-space opened #1603 "HDF5"
Placeholder for a discussion on how to build HDF5 with LLVM Flang.

[2022-09-13 10:30] Leporacanthicus commented on #1499
This is now fixed in llvm/main.

[2022-09-13 10:30] #1499 closed

[2022-09-14 16:07] AlexisPerry commented on #1462
Anthony Cabrera (@cabreraam) is working on this

[2022-10-24 12:11] PeixinQiao commented on #1603
Close by https://github.com/llvm/llvm-project/issues/56348

[2022-10-24 12:11] #1603 closed

[2022-11-04 14:32] #1212 closed

[2022-11-04 21:45] AlexisPerry commented on #1416
Just checked and all the kernels build and run now.